
<div class="row">
  <div class="container col-lg-6 col-md-8 col-sm-10">
    <div class="shadow-lg p-3 mb-5 bg-white rounded mt-5 text-center">
      <h3>Sorry, You do not have access to this page</h3>
    </div>
  </div>
</div>
