
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777">
            <img src="assets/Home/Meeting-home.jpg" class="home-carousel-image" alt="">
          </rect></svg>
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Make Meetings Meaningful</h1>
              <p>People have meetings. Make sure their time isn't wasted, and that everyone knows what was said, who decided what, and what needs to be done next.  Make meetings worth everyone's time.</p>
              <p>
                <%= link_to "Sign Up", new_user_path, :class => "btn btn-lg btn-info text-white"%>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777">
            <img src="assets/Home/Meetinghome.jpg" class= "home-carousel-image" alt="">
          </rect></svg>
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>What do you do to ensure productivity at your meetings?</h1>
                <p>Provide the agenda ahead of time with relevant topics.</p>
                <p>Make the goals of your meeting clear.</p>
                <p>Establish an engaging facilitator.</p>
              <li>
                <%= link_to "Sign Up", new_user_path, :class => "btn btn-lg btn-info text-white"%>
              </li>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <h2 class="text-center">Features</h2>

    <hr class="featurette-divider">




    <div class="row featurette">
      <div class="col-md-7">
        <h5 class="featurette-heading ml-4">Easy Polling</h5>
        <p class="lead ml-4">Schedule a meeting in two easy steps
With MindMeet, you can organize a meeting date and time without the hassle of lengthy email chains,or endless phone tag. Scheduling a group meeting just got a whole lot easier! To organize a meeting (1) simply enter your meeting details, (2) select attendees and time slots.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/Home/easypolling.jpg" alt=""><rect width="100%" height="100%" fill="#eee"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading">Dashboard</h3>
        <p class="lead ">Manage all of your meetings in a single dashboard! Instead of viewing your meetings separately through unique links, MindMeet brings every meeting associated with your username into one convenient location. The “Dashboard” button at the top of the website.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/Home/dashboard.jpg" alt="">
        <rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h3 class="featurette-heading ml-4">Ads Free</h3>
        <p class="lead ml-4">Who wants to be bothered with ads when trying to schedule a meeting? MindMeet does not offer advertising placements to any ad display networks on web. All you see is what is important to successful planning–your contacts and meetings!</p>
      </div>
      <div class="col-md-5">
        <img src="assets/Home/adfree.jpg" alt="">
        <rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">
      </div>
    </div>

    <hr class="featurette-divider">
